body
{
	margin: 0;
}
.trapezoid2
{
	width:20%; 
    height:200px; 
    position: absolute;
	overflow: hidden;
	position: relative;
	-webkit-transform: skew(-20deg);
	float: left;
}
.imageTrapezoid
{
	width: 150%;
	transform: skew(20deg); 
    -o-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -webkit-transform: skew(20deg);
    transform-origin: 100% 0;
    -webkit-transform-origin: 100% 100%;
}

.clearline
{
	clear: both;
}

.intro
{
	background-size: cover;
	background-image: url(http://i.imgur.com/bqOdXeM.jpg);
	height: 80vh;
	max-height:  90%;
	color: #FFF;
}

.introtext
{
	color: #FFF;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20vw;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
}

.introtext span
{
	font-size: 0.5em;
}