body
{
	margin: 0;
}
img
{
	height: 100%;
	transform: skew(20deg); 
    -o-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -webkit-transform: skew(20deg);
    transform-origin: inherit;
}
.trapezoid
{
	width:20%; 
    height:100px; 
    border: 0 solid #000; 
    transform: skew(-20deg); 
    -o-transform: skew(-20deg); 
    -moz-transform: skew(-20deg); 
    -webkit-transform: skew(-20deg);
    float: left;
}
.trapezoid2
{
	width:20%; 
    height:200px; 
	overflow: hidden;
	position: relative;
	-webkit-transform: skew(-20deg);
}

.backimage
{
    width: 100%; 
    height: 100%; 
	background-image: url("file:///F:/Dropbox/JJ's%20Website/resources/img/MountainMe.jpg");
	background-size: cover;
	/*
	transform: skew(20deg); 
    -o-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -webkit-transform: skew(20deg);
    */
}
.clearline
{
	clear: both;
}
.lefttrapezoid
{
	width: 20%;
	border-top: 100px solid red;
	border-right: 30px solid transparent;
	border-left: 30px solid red;
	float: left;
}
.righttrapezoid
{

}
