body
{
	margin: 0 auto;
	/*width: 90%;*/
}

h1
{
	background-color: #03A9F4;
}

header
{
	color: #FFF;
}

.pcontainer
{
	width: 100%;
	color: #FFF;
	background-color: #03A9F4;
}
.headsection
{
	background-color: #03A9F4;
}