body
{
	margin: 0 auto;
	/*width: 90%;*/
}

h1
{
	background-color: #03A9F4;
}
h3
{
	padding: 0px 0px;
}
header
{
	color: #FFF;
	padding: 10px 0px;
}

.pcontainer
{
	width: 100%;
	color: #FFF;
	background-color: #03A9F4;
}
.headsection
{
	background-color: #03A9F4;
}
.bodytext
{
	margin: 0px 30vh;
	/*text-align: center;*/
}
.work img
{
	max-width: 500px;
}
.works
{
	text-align: center;
	/*display: inline-block;*/
}
.work
{
	text-align: center;
	display: inline-block;
}
.textwork
{
	display: inline-block;
	font-size: 1.5em;
	vertical-align: top;
	padding: 0px 20px;
	padding-bottom: 20px;
}
.workdescription
{
	font-size: .7em;
}
.bodytext h2
{
	text-align: center;
}
